.logo {
    width: 42px;
    box-shadow: 0 0 0.1em 0.1em #95d5b2;
}
body {
    background-color: #1f2937;
}

.headd {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba( 168, 209, 245,0.1)
}

a {
    color: #cae9ff;
    font-size: 20px;
    font-family: 'Alkalami', serif;
    cursor: pointer;
}

#clink {
    margin-left: 70%;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
#clink a{
    transition: all;
}
#clink a:hover{
    text-decoration: underline;
}
#clink div {
    display: flex;
    margin: 10px;
    margin-top: 0;
    justify-content: space-evenly;
}

@media (max-width:1230px){
    .logo{
        width: 10px;
    }
}
